/* colors from logo
red: #DB2229
green: #276474
gray: #8B9EAB
*/


/*================================================
Navbar Area CSS - custom
=================================================*/
.navbar-area .navbar {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-area .navbar .navbar-nav .nav-item a {
    font-size: 20px;
    color: #276474;
    text-transform: uppercase;
    font-weight: 500;
  }
  
.navbar-area .navbar .navbar-nav .nav-item a:hover, .navbar-area .navbar .navbar-nav .nav-item a:focus, .navbar-area .navbar .navbar-nav .nav-item a.active {
    color: #DB2229;
}

.navbar-brand img {
    max-width: 250px;
}
