/* colors from logo
red: #CE2026
dark green: #013E48 
green: #2A6473
light green: #216876;
mint: #D9EFEB
gray: #8B9EAA
black - #231F20
blue - #D8EEEC
*/

/*================================================
Global CSS - custom
=================================================*/
@media (min-width: 1200px){
  .container {
    max-width: 1300px;
  }
}

h1, h2, h3, h4, h5, h6, p, li, span {
  color: #231F20;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

hr {
  margin-top: 0;
}

h2, .page-title-content h2 {
  color: #013E48;
  font-size: 55px;
  line-height: 50px;
  font-weight: 900;
  text-transform: none;
}
h2:after, .red-dot-at-end-of-text:after{
  content: '.';
  color: #CE2026;
}

h3 {
  color: #231F20;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  text-transform: none;
}

h4, h5 {
  color: #2A6473;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  text-transform: none;
}

h5 {
  font-size: 25px;
  line-height: 30px;
}

p, li {
  font-size: 22px;
  line-height: 25px;
}

ul.red-arrow-list li {
  list-style-position: outside;
  list-style-image: url(../../images/shape/red-arrow-right.png);
  margin-bottom: 20px;
  padding-left: 15px;
}

a:link, a:visited {
  color: #216876;
  text-decoration: underline;
}
a:hover, a:active {
  color: #013E48;
  text-decoration: none;
}

.bg-mint {
  background-color: #D9EFEB;
}

.bg-top-curve {
  padding-top: 200px;
  background-image: url(../../images/backgrounds/bg-top-curve.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-bottom-curve {
  padding-top: 150px;
  background-image: url(../../images/backgrounds/bg-bottom-curve.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.rounded {
  border-radius: 15px !important;
}

.rounded-top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.rounded-bottom {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}


/*================================================
Navbar Area CSS - custom
=================================================*/
.navbar-area .navbar ul li {
  margin-bottom: 0;
}

.navbar a {
  text-decoration: none;
}

.navbar-area.fixed-top {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-area.fixed-top.is-sticky {
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width: 991px) {
  .navbar-area.fixed-top {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-area.fixed-top.is-sticky {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

.navbar-area .navbar .navbar-nav .nav-item a, 
.navbar-area.is-sticky .navbar .navbar-nav .nav-item a {
    font-size: 18px;
    color: #2A6473;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
}

@media (max-width: 991px){
  .navbar-area .navbar .navbar-nav .nav-item a, 
  .navbar-area.is-sticky .navbar .navbar-nav .nav-item a {
      padding: 10px 0;
  }
  .navbar-area .navbar .navbar-nav .nav-item a, .navbar-area .navbar .navbar-nav .nav-item:first-child a {
    margin-left: 0px;
    margin-right: 0px;
}
}

@media (max-width:1250px) {
  .navbar-area .navbar .navbar-nav .nav-item a, 
  .navbar-area.is-sticky .navbar .navbar-nav .nav-item a {
    font-size: 15px;
  }
}
  
.navbar-area .navbar .navbar-nav .nav-item a:hover, .navbar-area .navbar .navbar-nav .nav-item a:focus, .navbar-area .navbar .navbar-nav .nav-item a.active, 
.navbar-area.is-sticky .navbar .navbar-nav .nav-item a:hover, .navbar-area.is-sticky .navbar .navbar-nav .nav-item a:focus, .navbar-area.is-sticky .navbar .navbar-nav .nav-item a.active {
    color: #CE2026;
}

.navbar-toggler .icon-bar {
  background-color: #CE2026;
}

.navbar-brand img {
    max-width: 250px;
}

/*================================================
Banner Area CSS - custom
=================================================*/
.main-banner-area {
    position: relative;
    overflow: hidden;
  }
  
.home-sliders .home-item {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.home-sliders .home-item::before {
  width: 100%;
  background: transparent;
  /* background-image: linear-gradient( to right, #FFF, transparent 90%); */
  opacity: 1;
}

@media (min-width: 991px) {
  .home-sliders .home-item::before {
    background:url(../../images/backgrounds/bg_gradient.png) left center no-repeat;
    background-size: 1100px;
  }
}

.home-sliders .home-item .main-banner-content {
  max-width: 800px;
}


.home-sliders .home-item .main-banner-content h1, 
.home-sliders .home-item .main-banner-content p {
  color: #013E48;
  font-weight: 900;
}

.home-sliders .home-item .main-banner-content h1, 
.home-sliders .home-item .main-banner-content p {
  font-size: 32px;
  line-height: 37px;
}

@media (max-width: 991px) {
  .home-sliders .home-item .main-banner-content h1, 
  .home-sliders .home-item .main-banner-content p {
    font-size: 28px;
    line-height: 33px;
  }
}

.main-banner-content {
  background: #FFF;
  padding: 50px 60px;
  border-radius: 35px;
}

.banner-btn .default-btn {
  text-decoration: none;
  color: #FFF;
  margin-bottom: 20px;
}

.home-sliders .home-item .main-banner-content .banner-btn .default-btn, .default-btn {
  box-shadow: none;
  background: #CE2026;
  border-radius: 10px;
  
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  
}

.home-sliders .home-item .main-banner-content .banner-btn .default-btn:hover, .default-btn:hover {
  box-shadow: none;
  color: #FFF;
  background: #013E48;
}

.home-sliders .home-item .main-banner-content .banner-btn .default-btn i, .default-btn i {
  font-size: 25px;
  line-height: 30px;
  margin-left: 20px;
  display: inline-flex;
}

.owl-theme .owl-dots .owl-dot {
  zoom: 2 !important;
}

.owl-theme .owl-dots .owl-dot .active{
  zoom: 2.3 !important;
}

.home-sliders.owl-theme .owl-dots .owl-dot:hover span, .home-sliders.owl-theme .owl-dots .owl-dot.active span, 
.home-sliders.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: #CE2026;
}

/*================================================
Page Banner CSS - custom
=================================================*/

.page-title-area {
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 425px;
  background-attachment: fixed;
}

.page-title-area::before {
  opacity: 0;
}

.page-title-area {
  background-color: #D8EEEC;
  margin-top: 35px;
}

/*================================================
Sections CSS - custom
=================================================*/
.home-tab-icon {
  max-width: 150px;
}
.schedule-list-tab .tabs li span{
  font-size: 22px;
  line-height: 25px;;
  font-weight: 600;
  color: #013E48;
  padding: 0;
}
@media (max-width: 991px) {
  .schedule-list-tab .tabs li span {
    font-size: 17px;
    line-height: 20px;
  }
}

.schedule-list-tab .tabs li {
  background-color: #f8f8f8;
  min-width: 70%;
  height: 220px;
}

.schedule-list-tab .tabs li.current, .schedule-list-tab .tabs li:hover {
  background-color: #b2dcd8;
}

.schedule-list-tab .tabs li.current img, .schedule-list-tab .tabs li:hover img {
  filter: brightness(0) invert(1);
}

.equal-widths-parent {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.equal-widths-parent > * {
  flex: 1;
}


/*================================================
Blog CSS - custom
=================================================*/
.single-blog .content span {
  font-size: 18px;
  color: #013E48;
  display: block;
  margin-bottom: 15px;
}

/*================================================
Footer CSS - custom
=================================================*/
footer a:link, footer a:visited {
  text-decoration: none;
  color: #231F20;
}

.footer-section {
  background-color: #E4E4E3;
}

.single-footer-widget .footer-social i {
  background-color: #FFF;
  color: #00333B;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.5s;
}

.single-footer-widget .footer-social i:hover {
  background-color: #00333B;
  color: #FFF;
}

.single-footer-widget .footer-social li {
  margin-right: 30px;
}

.subscribe-area {
  margin-bottom: 100px;
}

.subscribe-area .newsletter-form button {
  background-color: #A3DAD4;
  color: #216876;
  font-weight: 900;
}

.subscribe-area .newsletter-form .input-newsletter {
  font-size: 20px;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: #A3DAD4 !important;
}

@media (max-width: 991px) {
  .subscribe-area .newsletter-form {
    margin-left: 0;
    margin-top: 20px;
  }
}