/* colors from logo
red: #CE2026
dark green: #013E48 
green: #2A6473
light green: #216876;
mint: #D9EFEB
gray: #8B9EAA
*/

/*================================================
Global CSS - custom
=================================================*/
@media (min-width: 1200px){
  .container {
    max-width: 1300px;
  }
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  color: #013E48;
  font-size: 60px;
  line-height: 65px;
  font-weight: 900;
  text-transform: none;
}

h3 {
  color: #231F20;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  text-transform: none;
}

p, li {
  font-size: 25px;
  line-height: 30px;
}

ul.red-arrow-list li {
  list-style-position: outside;
  list-style-image: url(../../images/shape/red-arrow-right.png);
  margin-bottom: 20px;
  padding-left: 15px;
}

a:link, a:visited {
  color: #216876;
  text-decoration: underline;
}
a:hover, a:active {
  color: #013E48;
  text-decoration: none;
}

.bg-mint {
  background-color: #D9EFEB;
}

.bg-top-curve {
  padding-top: 200px;
  background-image: url(../../images/backgrounds/bg-top-curve.png);
  background-size: contain;
  background-repeat: no-repeat;
}


/*================================================
Navbar Area CSS - custom
=================================================*/
.navbar-area .navbar ul li {
  margin-bottom: 0;
}

.navbar a {
  text-decoration: none;
}

.navbar-area.fixed-top {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-area.fixed-top.is-sticky {
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width: 991px) {
  .navbar-area.fixed-top {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-area.fixed-top.is-sticky {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

.navbar-area .navbar .navbar-nav .nav-item a, 
.navbar-area.is-sticky .navbar .navbar-nav .nav-item a {
    font-size: 20px;
    color: #2A6473;
    text-transform: uppercase;
    font-weight: 700;
  }
  
.navbar-area .navbar .navbar-nav .nav-item a:hover, .navbar-area .navbar .navbar-nav .nav-item a:focus, .navbar-area .navbar .navbar-nav .nav-item a.active, 
.navbar-area.is-sticky .navbar .navbar-nav .nav-item a:hover, .navbar-area.is-sticky .navbar .navbar-nav .nav-item a:focus, .navbar-area.is-sticky .navbar .navbar-nav .nav-item a.active {
    color: #CE2026;
}

.navbar-toggler .icon-bar {
  background-color: #CE2026;
}

.navbar-brand img {
    max-width: 250px;
}

/*================================================
Banner Area CSS - custom
=================================================*/
.main-banner-area {
    position: relative;
    overflow: hidden;
  }
  
.home-sliders .home-item {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.home-sliders .home-item::before {
  width: 100%;
  background: transparent;
  /* background-image: linear-gradient( to right, #FFF, transparent 90%); */
  opacity: 1;
}

@media (min-width: 991px) {
  .home-sliders .home-item::before {
    background:url(../../images/backgrounds/bg_gradient.png) left center no-repeat;
    background-size: 1100px;
  }
}

.home-sliders .home-item .main-banner-content {
  max-width: 800px;
}


.home-sliders .home-item .main-banner-content h1, 
.home-sliders .home-item .main-banner-content p {
  color: #013E48;
  font-weight: 900;
}

.home-sliders .home-item .main-banner-content h1, 
.home-sliders .home-item .main-banner-content p {
  font-size: 40px;
  line-height: 45px;
}

@media (max-width: 991px) {
  .home-sliders .home-item .main-banner-content h1, 
  .home-sliders .home-item .main-banner-content p {
    font-size: 30px;
    line-height: 35px;
  }
}

.main-banner-content {
  background: #FFF;
  padding: 50px 60px;
  border-radius: 35px;
}

.home-sliders .home-item .main-banner-content .banner-btn .default-btn {
  box-shadow: none;
  background: #CE2026;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  text-decoration: none;
}

.home-sliders .home-item .main-banner-content .banner-btn .default-btn:hover {
  box-shadow: 5px 5px #013E48;
}

.home-sliders .home-item .main-banner-content .banner-btn .default-btn i {
  font-size: 25px;
  line-height: 30px;
  margin-left: 20px;
  display: inline-flex;
}

.owl-theme .owl-dots .owl-dot {
  zoom: 2 !important;
}

.owl-theme .owl-dots .owl-dot .active{
  zoom: 2.3 !important;
}

.home-sliders.owl-theme .owl-dots .owl-dot:hover span, .home-sliders.owl-theme .owl-dots .owl-dot.active span, 
.home-sliders.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: #CE2026;
}


/*================================================
Sections CSS - custom
=================================================*/
.home-tab-icon {
  max-width: 150px;
}
.schedule-list-tab .tabs li span{
  font-size: 25px;
  line-height: 25px;;
  font-weight: 600;
  color: #013E48;
  padding: 0;
}
@media (max-width: 991px) {
  .schedule-list-tab .tabs li span {
    font-size: 18px;
    line-height: 22px;
  }
}

.schedule-list-tab .tabs li {
  background-color: #f8f8f8;
  min-width: 70%;
  height: 220px;
}

.schedule-list-tab .tabs li.current, .schedule-list-tab .tabs li:hover {
  background-color: #b2dcd8;
}

.schedule-list-tab .tabs li.current img, .schedule-list-tab .tabs li:hover img {
  filter: brightness(0) invert(1);
}

.equal-widths-parent {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.equal-widths-parent > * {
  flex: 1;
  /* display: inline-flex; */
}
/* 
.equal-widths-parent > * > * {
  flex: 1;
} */